{% extends 'base.html' %} {% load static %} {% block head %}

<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />

{% endblock %} {% block content %}

<section class="page-header">
  <h1>Account list</h1>
  <a href="{% url 'account_form' %}" class="btn create">Create Account</a>
  <a href="{% url 'transaction_form' %}" class="btn create">Initiate transaction</a>
</section>
<section class="account-container">
  {% for account in accounts %}
  <div class="card">
    <div class="card-content">
      <div class="card-img-container">
    </div>
      <h2 class="card-title">Account ID: {{ account.id }}</h2>
      <p>Account type: {{ account.account_type }}</p>
      <p>Balance: ${{ account.balance }}</p>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}