{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/base.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Transaction list</h1>
</section>
<section class="transaction-container">
  {% for transaction in transactions %}
  <div class="card">
    <div class="card-content">
      <div class="card-img-container">
    </div>
      <h2 class="card-title">Transaction ID: {{ transaction.id }}</h2>
      <p>Amount: ${{ transaction.amount }}</p>
      <p>Created at: {{ transaction.created_at }}</p>
      <p>Transaction type: {{ transaction.type }}</p>

      <p>
        Origin account ID:
        {% if transaction.origin_account %}
          {{ transaction.origin_account.id }} ({{ transaction.origin_account.account_type }})
        {% else %}
          External Source (ATM Deposit)
        {% endif %}
      </p>

      <p>
        Destination account ID:
        {% if transaction.destination_account %}
          {{ transaction.destination_account.id }} ({{ transaction.destination_account.account_type }})
        {% else %}
          Internal Destination (ATM Withdrawal)
        {% endif %}
      </p>

      <p>Description: {{ transaction.description }}</p>
      <p>Status: {{ transaction.status }}</p>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}