{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}
<div class="page-header">
  <h1>Sign Up</h1>
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required>

  <label for="password1">Password:</label>
  <input type="password" name="password1" id="password1" required>

  <label for="password2">Confirm Password:</label>
  <input type="password" name="password2" id="password2" required>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}